<div class="p-10 bg-gray-100/80 flex flex-col space-y-10">
    <div class="flex flex-col  w-full space-y-5 bg-white rounded shadow-sm p-10">

        <div class="flex items-center justify-center flex-col space-y-5">
            <img src="../assets/images/logo.png" alt="" class="w-[300px] object-contain">
            <h1 class="text-4xl font-black">Redevable Liste</h1>
        </div>

        <div class="w-full h-[1px] bg-gray-200"></div>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full">

            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">Nom</th>
                        <th scope="col" class="px-6 py-3">Prenom</th>
                        <th scope="col" class="px-6 py-3">Cin</th>
                        <th scope="col" class="px-6 py-3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proprietaires of proprietaire" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <td class="px-6 py-4">{{proprietaires.nom}}</td>
                        <td class="px-6 py-4">{{proprietaires.prenom}}</td>
                        <td class="px-6 py-4">{{proprietaires.cin}}</td>
                        <td class="space-x-2">
                            <button  (click)="deletePropr(proprietaires.id)" class="bg-main text-white px-5 py-2 rounded">
                              <i class='bx bxs-trash-alt'></i>
                            </button>
                            <button  class="bg-yellow-400 text-white px-5 py-2 rounded">
                              <i class='bx bxs-edit'></i>
                            </button>
                        </td>
                    </tr>
            </table>
        </div>
    </div>

</div>