
  <div class="p-10 bg-gray-100/80 flex flex-col space-y-10">
    <div class="flex items-center justify-around w-full space-x-5 bg-white rounded shadow-sm">
        <div class="flex text-center flex-col space-y-5">
            <img src="../assets/images/logo.png" alt="" class="w-[300px] object-contain">
            <h1 class="text-4xl font-black">Create Terrain</h1>
        </div>
      <div class="md:w-1/2">
        <div class="p-5">
          <form class="grid grid-cols-2 gap-5 items-center " (ngSubmit)="ngSubmit()">
            <div class="flex items-start space-y-3 flex-col w-full">

                <p class="font-bold">Surface</p>
                <input type="number" class="border w-full rounded p-3" min="1" name="surface" placeholder="Surface en m2" [(ngModel)]="terrain.surface">
               
            </div>
            <div class="flex items-start space-y-3 flex-col w-full">

                <p class="font-bold">Owner</p>
              
                <select id="select1"  [(ngModel)]="terrain.redevable" name="redevable" class=" w-full p-3 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-main focus:border-main dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="" disabled selected>Select a proprietaire</option>
                    <option *ngFor="let prop of proprietaires" [ngValue]="prop">{{ prop.cin }}</option>
                  </select>
               
            </div>

            <div class="flex items-start space-y-3 flex-col w-full col-span-2">

                <p class="font-bold">Categorie</p>
               
                <select id="select2"   [(ngModel)]="terrain.category" name="categories" class=" w-full p-3 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-main focus:border-main dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option disabled selected>Select a categorie</option>
                  <option *ngFor="let cat of categories" [ngValue]="cat">{{ cat.label }}</option>
                </select>
            </div>

  
            <button type="submit" class="text-white rounded py-3 col-span-2 bg-main">Add</button>
          </form>
        </div>
      </div>
    </div>
  
    <div class="flex flex-col items-start justify-around w-full space-y-5 bg-white rounded shadow-sm p-10">
        <h1 class="text-4xl font-black ">Terrain liste</h1>

        <div class="w-full h-[1px] bg-gray-200"></div>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full">

            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th scope="col" class="px-6 py-3">Surface</th>
                  <th scope="col" class="px-6 py-3">Owner</th>
                  <th scope="col" class="px-6 py-3">Categories</th>
                  <th scope="col" class="px-6 py-3">Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="showAllData; else searchResults">
                  <tr *ngFor="let terrain of terrains" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <td class="px-6 py-4">{{ terrain.surface }}</td>
                    <td class="px-6 py-4">{{ terrain.redevable?.nom }}</td>
                    <td class="px-6 py-4">{{ terrain.category?.label }}</td>
                    <td class="space-x-2">
                      <button (click)="deleteTerrain(terrain.id)" class="bg-main text-white px-5 py-2 rounded">
                        <i class='bx bxs-trash-alt'></i>
                      </button>
                      <button  class="bg-yellow-400 text-white px-5 py-2 rounded">
                        <i class='bx bxs-edit'></i>
                      </button>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #searchResults>
                  <tr *ngFor="let terrains of terrainsSearch">
                    <td>{{terrains.id}}</td>
                    <td>{{terrains.mc}}</td>
                    <td>{{terrains.proprietaire?.cin}}</td>
                    <td>{{terrains.categorie?.label}}</td>
                    <td>
                      <button (click)="deleteTerrain(terrains.id)" class="btn btn-danger me-2">Delete</button>
                      <button (click)="updateTerrain(terrains.id)" class="btn btn-secondary">Update</button>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
        </div>

    </div>
  </div>
  

   <!-- <h1>jKHKHh</h1> -->