<div class="p-10 bg-gray-100/80 flex flex-col space-y-10">


    <div class="flex items-center justify-around w-full space-x-5 bg-white rounded shadow-sm p-10">
        <div class="flex text-center flex-col space-y-5">
            <img src="../assets/images/logo.png" alt="" class="w-[300px] object-contain">
            <h1 class="text-4xl font-black">Create Taxe</h1>
        </div>
                <form class="flex items-start space-y-3 flex-col w-1/2" (ngSubmit)="onSubmit()">

                    <div class="flex items-start space-y-3 flex-col w-full">

                        <p class="font-bold">Montant</p>
                        <input type="number" class="border w-full rounded p-3" min="1" name="montant" placeholder="Montant"
                            [(ngModel)]="tauxs.montant">
                       
                    </div>

                    <div class="flex items-start space-y-3 flex-col w-full">

                        <p class="font-bold">Categories</p>
                        <select class=" w-full p-3 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-main focus:border-main dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [(ngModel)]="tauxs.category" name="categories">
                            <option value="" disabled selected>Select a categorie</option>
                            <option *ngFor="let cat of categorie" [ngValue]="cat">{{ cat.label }}</option>
                        </select>
                       
                    </div>
                    <button type="submit" class="text-white rounded py-3 w-full bg-main">Add</button>
                </form>
            
        </div>
  


    <div class="flex flex-col items-start justify-around w-full space-y-5 bg-white rounded shadow-sm p-10">
        <h1 class="text-4xl font-black ">Taxe liste</h1>

        <div class="w-full h-[1px] bg-gray-200"></div>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full">

            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">Categorie</th>
                        <th scope="col" class="px-6 py-3">Montant</th>
                        <th scope="col" class="px-6 py-3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tauxs of taux" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <td class="px-6 py-4">{{tauxs.category?.label}}</td>
                        <td class="px-6 py-4">{{tauxs.montant}}</td>
                        <td class="space-x-2">
                            <button (click)="deleteTaux(tauxs.id)" class="bg-main text-white px-5 py-2 rounded">
                              <i class='bx bxs-trash-alt'></i>
                            </button>
                            <button  class="bg-yellow-400 text-white px-5 py-2 rounded">
                              <i class='bx bxs-edit'></i>
                            </button>
                        </td>
                    </tr>
            </table>
        </div>
    </div>


</div>